include CHANGES
include LICENSE
include MANIFEST.in
include README.rst
include requirements-tox.txt
include requirements.txt
include setup.cfg
include setup.py
recursive-include locust_swarm *.py
recursive-include tests *.py
prune *.pyc
